<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>user</th>
            <th>email</th>
            <th>phonenum</th>
            <th>balance</th>
        </tr>
        {% for x in users %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.id }}</td>
            <td>{{ x.phonenum }}</td>
            <td>{{ x.balance }}</td>
        </tr>
        {% endfor %}
    </table>
    <form action="/bank_sys" method="POST">

        {% csrf_token %}
        <label for="input1">user</label>
        <input type="text" name="username" id="input1">

        <label for="input2">email:</label>
        <textarea name="user_email" id="" cols="15" rows="5"></textarea>

        <!-- <label for="input3">Day: </label> -->
        <!-- <select name="todo_day" id="input3">
            <option value="monday">Monday</option>
            <option value="tuesday">Tuesday</option>
            <option value="wendesday">Wednesday</option>
            <option value="thursday">Thursday</option>
            <option value="friday">Friday</option>
            <option value="saturday">Saturday</option>
            <option value="sunday">Sunday</option>
        </select> -->

        <label for="input3">Phone</label>
        <input type="text" name="phonenum" id="input3">

        <label for="input4">Balance</label>
        <input type="number" name="balance" id="input4">
        <button>Submit</button>
    </form>
</body>
</html>